{% load static %}

<head>
    <title>  Dyt. Esra Akbulat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="">


    <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--2-->
	<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

	  <div class="site-wrap">

	    <div class="site-mobile-menu site-navbar-target">
	      <div class="site-mobile-menu-header">
	        <div class="site-mobile-menu-close mt-3">
	          <span class="icon-close2 js-menu-toggle"></span>
	        </div>
	      </div>
	      <div class="site-mobile-menu-body"></div>
	    </div>


	    
	    <div class="header-top">
	      <div class="container">
	        <div class="row align-items-center">
	          <div class="col-12 col-lg-6 d-flex">
	            <a href="/" class="site-logo">
	              A.Esra Akbulat
	            </a>

	            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
	                class="icon-menu h3"></span></a>

	          </div>
	          <div class="col-12 col-lg-6 ml-auto d-flex">
	            <div class="ml-md-auto top-social d-none d-lg-inline-block">
	              <a href="#" class="d-inline-block p-3"><span class="icon-facebook"></span></a>
	                <a href="#" class="d-inline-block p-3"><span class="icon-twitter"></span></a>
	                <a href="https://www.instagram.com/dyt.esraakbulat" target="_blank" class="d-inline-block p-3"><span class="icon-instagram"></span></a>
	            </div>
	            <form action="#" class="search-form d-inline-block">

	              <div class="d-flex">
	                <input type="email" class="form-control" placeholder="Search...">
	                <button type="submit" class="btn btn-secondary" ><span class="icon-search"></span></button>
	              </div>
	            </form>

	            
	          </div>
	          <div class="col-6 d-block d-lg-none text-right">
	            
	          </div>
	        </div>
	      </div>
	      


	      
	      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

	      <div class="container">
	        <div class="d-flex align-items-center">
	          
	          <div class="mr-auto">
	            <nav class="site-navigation position-relative text-right" role="navigation">
	              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
					  {% for category in categories %}
					  <li class="active">
						  <a href="{{ category.get_absolute_url }}" class="nav-link text-left">{{ category.name }}</a>
					  </li>
					  {% endfor %}


				  </ul>
	            </nav>

	          </div>
	         
	        </div>
	      </div>
		</div>


</head>
{% block content %}

{% endblock %}
<body>

</body></div>