{% extends 'base.html' %}
{% block content %}


    {% for i in object_list %}

    <p><h1>{{ i.title }}</h1></p>

    img src="{{ i.blogheadimage.image.url }}">

    {% autoescape off %}
    {{ i.content }}
    {% endautoescape %}


    {% endfor %}


    {% endblock %}